html,body{
  padding: 0;
  margin: 0;
  height: 100%;
}
#app{
  padding: 0;
  height: 100%;
  flex: 1;            
  display:flex;
  flex-flow: column;
}
a{
  text-decoration: none;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
.head{
  position: relative;
  position: fixed;
  width: 100%;
}
.user-wrapper{
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}
.nameText{
  margin: 0 10px;
  margin-top: 3px;
  float: left;
}
.avatar{
  float: left;
}
.action{
  float: left;
  margin-top: 3px;
}